{% extends 'base.html.twig' %}

{% block body %}
	{% for firma in content.firma %}
		<div class="firma mb-3">
			<h3>{{firma.nazwa}}</h3>
			{% if firma.wlasciciel %}
				<h4>Właściciel</h4>
				<p>Imie:
					{{firma.wlasciciel.imie is defined? firma.wlasciciel.imie : 'brak' }}</p>
				<p>Nazwisko:
					{{firma.wlasciciel.nazwisko is defined? firma.wlasciciel.nazwisko : 'brak' }}</p>
				<p>NIP:
					{{firma.wlasciciel.nip is defined? firma.wlasciciel.nip : 'brak' }}</p>
				<p>Identyfikator REGON:
					{{firma.wlasciciel.regon is defined? firma.wlasciciel.regon : 'brak' }}</p>
			{% endif %}
			<h3>Numer telefonu</h3>
			<p>{{firma.telefon is defined? firma.telefon : 'brak' }}</p>
			<h3>Adres email</h3>
			<p>{{firma.email is defined? firma.email : 'brak' }}</p>
			<h3>Adres www</h3>
			<p>{{firma.www is defined? firma.www : 'brak' }}</p>
			{% if firma.adresDzialalnosci %}
				<h4>Adres</h4>
				<p>Kraj:
					{{firma.adresDzialalnosci.kraj is defined? firma.adresDzialalnosci.kraj : 'brak' }}</p>
				<p>Województwo:
					{{firma.adresDzialalnosci.wojewodztwo is defined? firma.adresDzialalnosci.wojewodztwo : 'brak' }}</p>
				<p>Powiat:
					{{firma.adresDzialalnosci.powiat is defined? firma.adresDzialalnosci.powiat : 'brak' }}</p>
				<p>Gmina:
					{{firma.adresDzialalnosci.gmina is defined? firma.adresDzialalnosci.gmina : 'brak' }}</p>
				<p>Miasto:
					{{firma.adresDzialalnosci.miasto is defined? firma.adresDzialalnosci.miasto : 'brak' }}</p>
				<p>Ulica:
					{{firma.adresDzialalnosci.ulica is defined? firma.adresDzialalnosci.ulica : 'brak' }}</p>
				<p>Budynek:
					{{firma.adresDzialalnosci.budynek is defined? firma.adresDzialalnosci.budynek : 'brak' }}</p>
			{% endif %}
			<h3>Identyfikator rekordu</h3>
			<p>{{firma.id}}</p>
			<h3>Status działalności</h3>
			<p>{{firma.status is defined? firma.status : 'brak' }}</p>
			<h3>Data rozpoczęcia działalności</h3>
			<p>{{firma.dataRozpoczecia is defined? firma.dataRozpoczecia : 'brak' }}</p>
			<h3>Data zakończenia działalności</h3>
			<p>{{firma.dataZakonczenia is defined? firma.dataZakonczenia : 'brak' }}</p>
			<h3>Kod głównego przedmiotu działalności</h3>
			<p>{{firma.pkdGlowny is defined? firma.pkdGlowny : 'brak'}}</p>
			<h3>Lista kodów PKD</h3>
			{% if firma.pkd is defined %}
				{% for item in firma.pkd %}
					<p>{{item}}</p>
				{% endfor %}
			{% else %}
				<p>brak</p>
			{% endif %}
		</div>
	{% endfor %}
{% endblock %}
