{% extends 'base.html.twig' %}

{% block javascripts %}
	{% if procent<100 %}
		<meta http-equiv="refresh" content="300">
	{% endif %}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Eksportowanie...</h1>
		<progress value="{{progres}}" max="{{pageCount}}"></progress>
	<p>{{procent}}% ({{progres}}/{{pageCount}})</p>
	{# <p>Pozostało ok.
			{{((pageCount - progres)*0.001//1)}}h
			{{((pageCount - progres)*0.06)%60}}min
			{{((pageCount - progres)*3.6)%60}}s
		</p> #}
	{% if procent==100 %}
		<a href="{{path('convert')}}" class="btn btn-primary">Pobierz XLSX</a>
		{# <a href="{{asset('all.json')}}" class="btn btn-secondary">Pobierz JSON</a> #}
	{% else %}
		<a href="{{path('convert')}}" class="btn btn-primary">Pobierz XLSX (częściowo)</a>
	{% endif %}
</div>{% endblock %}
